*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #2b2d42;
    color: #e76f51;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    /* margin-top: 1rem; */
    font-size: 5rem;
}

.main{
    padding: 3rem;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.board{
    width: 30rem;
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
}

.cell{
    height: 10rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e76f51;
    font-size: 7.5rem;
    border: 3px solid;
}

.cell:nth-child(3n){
    border-right: none;
}

.cell:nth-child(3n+1){
    border-left: none;
}

.cell:first-child,.cell:nth-child(2),.cell:nth-child(3){
    border-top: none;
}

.cell:nth-child(7),.cell:nth-child(8),.cell:last-child{
    border-bottom: none;
}

button{
    padding: 15px 30px;
    border-radius: 15px;
    background-color: #e76f51;
    color: #2b2d42;
    border-color: #ffb703;
    font-weight: 700;
    font-size: 27px;
    margin-top: 3.5rem;
}
